<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título predeterminado{% endblock %} - Flaskr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='add.css') }}">
</head>
<body> 
     
    <header>
        {% block navigation %}{% endblock %} 

    </header>

    <section>
        <h1>{% block inicio %}{% endblock %} </h1>
    </section>
  
    <section> 

    <header>
        <h1>{% block header_title %}{% endblock %}</h1>
    </header>

    </section>
    
    <section class="content">
        {% block content %}{% endblock %}
    </section>

    <footer>
        {% block footer %}{% endblock %}
    </footer>
    
 
</body>
</html>